a:hover span::before, a:focus span::before {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
}
a span {
    display: inline-block;
    color: black;
}
a span::before {
    position: absolute;
    content: attr(data-content);
    color: darkblue;
    text-decoration: underline;
    clip-path: polygon(0 0, 0 0, 0% 100%, 0 100%);
    transition: clip-path 275ms ease;
}
ul {
    display: inline-block;
    padding: 0;
    margin: 0;
}
body {
    font-family:sans-serif;
    font-size: 25px;
    text-align: center;
    margin:0;
    height: 100%;
    overflow: hidden;
}
li {
    list-style-image: url(logo.svg);
}
section {
    color:white;
    background-image: linear-gradient( 120deg, turquoise 0%, rebeccapurple 100% );
    padding:3rem 4rem;
}
p {
    margin:0;
    background: black;
    padding:.1em;
}